  <div class="modal fade" id="newBillModal" tabindex="-1" role="dialog" aria-labelledby="newBillModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">New Bill</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form action="/input-expense" method="POST">
				<div class="form-group">
					<label for="expenseName">Expense Name</label>
					<input type="text" name="expenseName" id="expenseNameInput" class="form-control">
				</div>
				<div class="form-group">
					<label for="expenseAmount">Expense Amount</label>
					<input type="text" name="expenseAmount" id="expenseAmountInput" class="form-control">
				</div>
				<div class="form-group">
					<label for="dueDate">Expense Due Date</label>
					<input type="text" name="dueDate" id="expenseDueDateInput" class="form-control">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="modal-footer">
		</div>
	  </div>
	</div>
  </div>