<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head') %>
</head>
	<%- include('../partials/header') %>

<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Hello, <%= currentUser.firstName %> </h1>
			</div>
		</div>
	</div>
	<%- include('../partials/jsPath') %>
</body>

</html>