<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head') %>
</head>
	<%- include('../partials/header') %>

	<body>
		<div class="container home-container">
			<div class="row">
				<div class="col text-center">
					<h3>Login</h3>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-lg">
					<form action="/login" class="mx-auto w-50" method="POST">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" name="email" class="form-control">
						</div>
						<div class="form-group">
							<label for="password">password</label>
							<input type="text" name="password" class="form-control">
						</div>
						<button class="btn btn-success">Login</button>
					</form>
				</div>
			</div>
		</div>
		<%- include('../partials/jsPath') %>
	</body>
</html>
