<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head') %>
</head>
	<%- include('../partials/header') %>

<body>
	<div class="container home-container">
		<div class="row">
			<div class="col-lg-3">
				<form action="/login" method="POST">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" name="email" class="form-control">
					</div>
					<div class="form-group">
						<label for="password">password</label>
						<input type="text" name="password" class="form-control">
					</div>
					<button class="btn btn-success">Submit</button>
				</form>
			</div>

			<div class="col-lg-9 d-flex text-right align-items-center">
				<h4 class="w-100 mr-auto">Manage Money the right way <a href="/register" class="btn btn-success">Sign Up</a></h4>
			</div>
		</div>
	</div>
	<%- include('../partials/jsPath') %>
</body>

</html>